
<h1>Bets</h1>

<div class="container" ng-controller="BetController">
  <div class="row">
     <div class="col-xs-offset-1"><a id="expand">Collapse/Expand all</a></div>
  </div>
  <div class="panel-group" id="accordion">
    <div class="panel panel-default" ng-repeat="bet in bets | orderBy:'-race.date'">
      <div class="panel-heading">
        <div class="row">
          <h4 class="panel-title">
              <a data-toggle="collapse" data-target="#collapse_{{ $index }}">
                  <div class="col-xs-3">{{bet.race.date|date:'yyyy-MM-dd'}}</div>
                  <div class="col-xs-6">{{bet.race._id}}</div>
                  <div class="col-xs-2">{{bet.date|date:'yyyy-MM-dd'}}</div>
                  <div class="col-xs-1">
                      <button type="button"
                              ng-click="deleteBet(bet._id)">&times;</button>
                  </div>
              </a>
          </h4>
        </div>
      </div>
      <div id="collapse_{{ $index }}" class="panel-collapse collapse">
        <ul class="list-group" ng-repeat="rider in bet.riders">
            <li class="list-group-item">
              <div class="row">
                  <div class="col-xs-1 col-xs-offset-1">{{ $index + 1 }}</div>
                  <div class="col-xs-10">{{rider._id}} ({{rider.team}})</div>
              </div>
            </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<script>
$('#expand').on('click', function () {
    $('#accordion .panel-collapse').collapse('toggle');
});
</script>

<!--
            <div class="col-xs-9 col-xs-offset-1">
                <form class="form-horizontal" name="betForm" ng-submit="addBet()" novalidate>
		    <div class="form-group">
                        <label>Race</label><input type="text" id="race" name="race" ng-model="new_bet.race" ng-required="true">
                    </div>
                    <div class="form-group">
                        <label>Riders</label><input type="text" id="riders" name="riders" ng-model="new_bet.riders" ng-list ng-required="true">
                    </div>
                    <button type="submit" class="btn btn-primary" ng-enabled="betForm.race.$dirty && betForm.riders.$dirty">Add bet</button>
                </form>
            </div>
-->
