    <footer class="row-footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-5 col-xs-offset-1 col-sm-2 col-sm-offset-1">
                    <h5>Links</h5>
                    <ul class="list-unstyled">
                        <li><a ui-sref="app">Home</a></li>
                        <li><a ui-sref="app.bet">Bet</a></li>
                        <li><a ui-sref="app.result">Results</a></li>
                        <li><a ui-sref="app.profile">Profile</a></li>
                    </ul>
                </div>
                <div class="col-xs-12">
                    <p style="padding:10px;"></p>
                    <p align=center>© Copyright 2017 Wim De Waegeneer</p>
                </div>
            </div>
        </div>
    </footer>
