    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/"><img src="images/logo.png" height=30 width=41></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a ui-sref="app">
                        <span class="glyphicon glyphicon-home"
                         aria-hidden="true"></span> Home</a></li>
                    <li><a ui-sref="app.bet">
                        <span class="glyphicon glyphicon-info-sign"
                         aria-hidden="true"></span> Bet</a></li>
                    <li><a ui-sref="app.result">
                         <span class="glyphicon glyphicon-list-alt"
                         aria-hidden="true"></span> Result</a></li>
                     <li><a ui-sref="app.profile">
                     <i class="fa fa-envelope-o"></i> Profile</a></li>
                </ul>
                <!-- User logged in -->
                <div ng-if="currentUser">
                  <ul class="nav navbar-nav navbar-right">
                    <li>{{ currentUser._id }}
                    </li>
                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                    <li><a ng-controller="LoginController" ng-click="logout()"> 
                            <span class="glyphicon glyphicon-log-in"></span> Logout</a>
                    </li>
                  </ul>
                </div>
                <!-- User not logged in -->
                <div ng-if="!currentUser">
                  <ul class="nav navbar-nav navbar-right">
                    <li><a data-toggle="modal" data-target="#loginModal">
                            <span class="glyphicon glyphicon-log-in"></span> Login</a>
                    </li>
                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                    <li><a data-toggle="modal" data-target="#registerModal">
                            <span class="glyphicon glyphicon-log-in"></span> Register</a>
                    </li>
                  </ul>
                </div>
            </div>
        </div>
    </nav>

    <!-- Login modal -->
    <div id="loginModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Login</h4>
            </div>
            <div class="modal-body">
               <form class="form-inline" role="form" ng-controller="LoginController" ng-submit="authenticate(credentials)" novalidate>
                    <div class="form-group">
                      <label class="control-label">
                        <input type="text" class="form-control" id="name" ng-model="credentials.name" placeholder="Username">
                        <input type="password" class="form-control" id="password" ng-model="credentials.password" placeholder="Password">
                        <button type="submit" class="btn btn-info" onclick="$('.modal').modal('hide')">Login</button>
                        <!-- <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button> -->
                      </label>
                    </div>
                </form>
            </div>
        </div>
        </div>
    </div>

    <!-- User registration modal -->
    <div id="registerModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Register </h4>
            </div>
            <div class="modal-body">
                <form class="form-inline" role="form" ng-controller="LoginController" ng-submit="register(credentials)" novalidate>
		    <div class="form-group col-lg-12">
                        <input type="" class="form-control" id="name" ng-model="credentials.name" placeholder="Username">
                        <input type="email" class="form-control" id="email" ng-model="credentials.email" placeholder="E-mail">
                        <input type="password" class="form-control" id="password" ng-model="credentials.password" placeholder="Password">
                        <input type="text" class="form-control" id="group" ng-model="credentials.group" placeholder="Group">
			<button type="submit" class="btn btn-primary">Register</button>
		    </div>
                </form>
            </div>
        </div>
        </div>
    </div>

<!--
    <header class="jumbotron">
        <div class="container">
            <div class="row row-header">
                <div class="col-xs-12 col-sm-8">
                    <h1>Race Betting</h1>
                    <p style="padding:40px;"></p>
                    <p>Your friendly race bet tracking site</p>
                </div>
                <div class="col-xs-12 col-sm-2">
                <p style="padding:20px;"></p>
                <img src="images/logo.png" class="img-responsive">
                </div>
                <div class="col-xs-12 col-sm-2">
                </div>
            </div>
        </div>
    </header>
-->
