    <div class="container">
        <div class="row row-content" ng-controller="UserController">
            <div class="col-xs-9 col-xs-offset-1">
    	        <ul class="media-list">
<li>
  <form ng-submit="updateProfile(profile)">
    <label>Name:</label>
    <input type="text" ng-model="profile._id" ng-required/>
    <br/>
    <label>Password:</label>
    <input type="password" ng-model="profile.password"/>
    <br/>
    <label>E-mail:</label>
    <input type="email" ng-model="profile.email"/>
    <br/>
    <label>Group:</label>
    <input type="text" ng-model="profile.group" ng-required/>
    <br/>
    <button class="btn" type="submit">Save</button>
   </form>
 </li>
        	</ul>
            </div>
        </div>
    </div>

<!--
<div class="container" ng-controller="UserController">
	<div class="row">
	 <form class="form-horizontal" ng-submit="updateProfile(profile)">
            <fieldset>
                <h2>User: {{profile._id}}</h2>
         
                <div class="control-group">
                    <label class="control-label">E-mail</label>
                    <div class="controls">
                        <input type="email" ng-model="profile.email" class="input-xlarge">
                    </div>
                </div>
                
                <div class="control-group">
                    <label class="control-label">Password</label>
                    <div class="controls">
                        <input type="password" ng-model="profile.password" class="input-xlarge">
                    </div>
                </div>
                
                <div class="control-group">
                    <label class="control-label">Group</label>
                    <div class="controls">
                        <select class="input-xlarge" ng-model="profile.group">
                            <option value="" selected="selected">{{profile.group}}</option>
                            <option value="AF">Ampli</option>
                            <option value="AL">Norace</option>
                        </select>
                    </div>
                </div>
                <button class="btn" type="submit">Save</button>
            </fieldset>
        </form>
	</div>
</div>
-->
