    <div class="container" ng-controller="ResultController">
        <div class="row row-content">
            <div class="col-xs-12 col-sm-3 col-sm-push-9">
                <p style="padding:20px;">{{results}}</p>
            </div>
        </div>
    </div>
